
<div class="container-fluid">
  <div class="row my-2" [hidden]="(loader$ | async)">
    <div class="row text-center">
      <h3 class="mx-5 my-3"> Global Pandemic Corona Cases</h3>
    </div>
    <ngx-charts-pie-grid [results]="dashboardData"></ngx-charts-pie-grid>
  </div>

  <div class="row mt-2 mb-5">
    <div class="container align-content-center">
      <form [formGroup]="nationForm" (ngSubmit)="onSelection()">
        <div class="d-flex flex-row align-items-center flex-wrap justify-content-around">
          <div *ngIf="globalData">
            <label><b>Country</b>
              <p-dropdown  class="ml-2" [options]="countries"
                           [appendTo]="'body'"
                           formControlName="country"
                           placeholder="select country">
              </p-dropdown>
            </label>

            <button pButton type="button" label="Check"
                    class="ml-2 my-2 p-button-rounded"
                    (click)="onSelection()" [disabled]="nationForm.invalid" >
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="container-fluid my-3" *ngIf="countryData">
      <ngx-charts-number-card [results]="countryData">
      </ngx-charts-number-card>
    </div>
  </div>
</div>

<div class="loaderPosition">
  <p-progressSpinner [hidden]="(loader$ | async) === false">
  </p-progressSpinner>
</div>
